<div class="jumbotron">
  <h4 class="text-center"> Booking Summery</h4>
  <hr>
  <div class="p-grid">
    <div class="p-col-12">
      <strong>Day 1 - 20 January</strong>
    </div>
    <hr>
    <div class="p-col-12">
      <div class="p-grid">
        <div class="p-col-7">
          <p>2x Rod Laver Arena - On Court Seating</p> <br>
          <p>(2x Adult, 0x Child, 0x Conc)</p>
        </div>
        <div class="p-col-5">
          <strong> $210.00</strong>
        </div>
      </div>
      <hr>
    </div>

    <div class="p-col-12">
      <strong>Merchandise Park</strong>
      <div class="p-grid">
        <div class="p-col-7">
          <p>Drink Bottle (1 selected)</p>
        </div>
        <div class="p-col-5">
          <strong>$5.00</strong>
        </div>
      </div>
      <hr>
    </div>

    <div class="p-col-12">
      <div class="p-grid">
        <div class="p-col-7">
          <p>Sub Total</p>
        </div>
        <div class="p-col-5">
          <strong>$500.00</strong>
        </div>
      </div>

    </div>
  </div>
</div>


