<div class="jumbotron">
<!--  <h4 class="text-center"> Booking Summery</h4>-->
<!--  <hr>-->
<!--  <div class="p-grid">-->
<!--    <div class="p-col-12">-->
<!--      <strong>Day 1 - 20 January</strong>-->
<!--    </div>-->
<!--    <hr>-->
<!--    <div class="p-col-12">-->
<!--      <div class="p-grid">-->
<!--        <div class="p-col-7">-->
<!--          <p>2x Rod Laver Arena - On Court Seating</p> <br>-->
<!--          <p>(2x Adult, 0x Child, 0x Conc)</p>-->
<!--        </div>-->
<!--        <div class="p-col-5">-->
<!--          <strong> $210.00</strong>-->
<!--        </div>-->
<!--      </div>-->
<!--      <hr>-->
<!--    </div>-->

<!--    <div class="p-col-12">-->
<!--      <strong>Merchandise Park</strong>-->
<!--      <div class="p-grid">-->
<!--        <div class="p-col-7">-->
<!--          <p>Drink Bottle (1 selected)</p>-->
<!--        </div>-->
<!--        <div class="p-col-5">-->
<!--          <strong>$5.00</strong>-->
<!--        </div>-->
<!--      </div>-->
<!--      <hr>-->
<!--    </div>-->

<!--    <div class="p-col-12">-->
<!--      <div class="p-grid">-->
<!--        <div class="p-col-7">-->
<!--          <p>Sub Total</p>-->
<!--        </div>-->
<!--        <div class="p-col-5">-->
<!--          <strong>$500.00</strong>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->

  <h4 class="text-center"> Booking Summery</h4>
  <hr>
    <table>
      <tr>
        <td> <strong>Day 1 - 20 January </strong></td>
      </tr>

      <tr>
        <td>2x Rod Laver Arena - On Court Seating</td>
        <td> <strong>$210.00 </strong></td>
      </tr>

      <tr>
        <td> (2x Adult, 0x Child, 0x Conc)</td>
      </tr>

      <tr>
        <td> <strong>Day 1 - 20 January </strong></td>
      </tr>

      <tr>
        <td>2x Rod Laver Arena - On Court Seating</td>
        <td> <strong> $210.00 </strong></td>
      </tr>

      <tr>
        <td> (2x Adult, 0x Child, 0x Conc)</td>

      </tr>
      </table>

    <hr>

    <table>
        <tr>
          <td>
            <strong>Merchandise Park</strong>
          </td>
        </tr>

        <tr>
          <td> Drink Bottle (1 selected)</td>
          <td><strong> $10.00</strong> </td>
        </tr>
    </table>

    <hr>

    <table>
        <tr>
          <td>Subtotal</td>
          <td><strong> $80.00</strong></td>
        </tr>
      </table>

</div>

